__pycache__/
libs/bidict/__pycache__/
libs/blinker/__pycache__/
libs/click/__pycache__/
libs/colorama/__pycache__/
libs/dns/__pycache__/
libs/dns/dnssecalgs/__pycache__/
libs/dns/quic/__pycache__/
libs/dns/rdtypes/ANY/__pycache__/
libs/dns/rdtypes/CH/__pycache__/
libs/dns/rdtypes/IN/__pycache__/
libs/dns/rdtypes/__pycache__/
libs/engineio/__pycache__/
libs/engineio/async_drivers/__pycache__/
libs/eventlet/__pycache__/
libs/eventlet/green/__pycache__/
libs/eventlet/greenio/__pycache__/
libs/eventlet/hubs/__pycache__/
libs/eventlet/support/__pycache__/
libs/flask/__pycache__/
libs/flask/json/__pycache__/
libs/flask/sansio/__pycache__/
libs/flask_socketio/__pycache__/
libs/greenlet/__pycache__/
libs/itsdangerous/__pycache__/
libs/jinja2/__pycache__/
libs/markupsafe/__pycache__/
libs/socketio/__pycache__/
libs/werkzeug/__pycache__/
libs/werkzeug/datastructures/__pycache__/
libs/werkzeug/debug/__pycache__/
libs/werkzeug/routing/__pycache__/
libs/werkzeug/sansio/__pycache__/
libs/werkzeug/wrappers/__pycache__/
libs/h11/__pycache__/
libs/simple_websocket/__pycache__/
libs/wsproto/__pycache__/
libs/colorama/tests/__pycache__/
libs/h11/tests/__pycache__/
libs/werkzeug/middleware/__pycache__/
libs/pythonping/__pycache__/

sensor_data_log
motesoft/Logs
logs

motesoft/firmware/.gitignore
motesoft/firmware/.vscode/
