FlaskGUI/__pycache__/
FlaskGUI/libs/bidict/__pycache__/
FlaskGUI/libs/blinker/__pycache__/
FlaskGUI/libs/click/__pycache__/
FlaskGUI/libs/colorama/__pycache__/
FlaskGUI/libs/dns/__pycache__/
FlaskGUI/libs/dns/dnssecalgs/__pycache__/
FlaskGUI/libs/dns/quic/__pycache__/
FlaskGUI/libs/dns/rdtypes/ANY/__pycache__/
FlaskGUI/libs/dns/rdtypes/CH/__pycache__/
FlaskGUI/libs/dns/rdtypes/IN/__pycache__/
FlaskGUI/libs/dns/rdtypes/__pycache__/
FlaskGUI/libs/engineio/__pycache__/
FlaskGUI/libs/engineio/async_drivers/__pycache__/
FlaskGUI/libs/eventlet/__pycache__/
FlaskGUI/libs/eventlet/green/__pycache__/
FlaskGUI/libs/eventlet/greenio/__pycache__/
FlaskGUI/libs/eventlet/hubs/__pycache__/
FlaskGUI/libs/eventlet/support/__pycache__/
FlaskGUI/libs/flask/__pycache__/
FlaskGUI/libs/flask/json/__pycache__/
FlaskGUI/libs/flask/sansio/__pycache__/
FlaskGUI/libs/flask_socketio/__pycache__/
FlaskGUI/libs/greenlet/__pycache__/
FlaskGUI/libs/itsdangerous/__pycache__/
FlaskGUI/libs/jinja2/__pycache__/
FlaskGUI/libs/markupsafe/__pycache__/
FlaskGUI/libs/socketio/__pycache__/
FlaskGUI/libs/werkzeug/__pycache__/
FlaskGUI/libs/werkzeug/datastructures/__pycache__/
FlaskGUI/libs/werkzeug/debug/__pycache__/
FlaskGUI/libs/werkzeug/routing/__pycache__/
FlaskGUI/libs/werkzeug/sansio/__pycache__/
FlaskGUI/libs/werkzeug/wrappers/__pycache__/
FlaskGUI/libs/h11/__pycache__/
FlaskGUI/libs/simple_websocket/__pycache__/
FlaskGUI/libs/wsproto/__pycache__/
FlaskGUI/libs/colorama/tests/__pycache__/
FlaskGUI/libs/h11/tests/__pycache__/
FlaskGUI/libs/werkzeug/middleware/__pycache__/
FlaskGUI/libs/pythonping/__pycache__/

sensor_data_log
motesoft/Logs

motesoft/firmware/.gitignore
motesoft/firmware/.vscode/
