*.pyc
*.kdev4
.kdev4/*
.DS_Store
.vscode/
*.o
*.d
*.elf
*.hex
.env
.venv
env/
venv/
Logs/
bad_logs_2022_11_5/*
__pycache__/

Fuel_Cold_Flow_2023_01_28_v2/*
Fuel_Flow_2023_02_11/*
bad_logs_2022_11_5/*
Cold_Flow_v1_2023_01_29/*
Cold_Flow_v2_2023_01_29/*
Old_Logs_Crow_Island/*
Ox_Flow_2023_02_11/*
LACONIA_2022_11_19_DATA.zip
LACONIA_2022_11_19_DATA/*
Cold_Flow_v2_2023_01_29/*
tmp02/*
Cryo_Valve_Test_1/*
Hotfire_Data/*

firmware for teensy/src/.vs/VSWorkspaceState.json
firmware for teensy/src/.vs/src/v16/Browse.VC.db
firmware for teensy/src/.vs/src/v16/.suo
firmware for teensy/src/.vs/slnx.sqlite
firmware for teensy/src/.vs/ProjectSettings.json
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj.filters
firmware_for_teensy_USEME/__vm/.firmware_for_teensy_USEME.vsarduino.h
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/ipch/AutoPCH/6037cfa7e7605347/.FIRMWARE_FOR_TEENSY (USE ME).VSARDUINO.ipch
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/ipch/AutoPCH/50cca5a186063cd1/FIRMWARE_FOR_TEENSY.ipch
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.opendb
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db-shm
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/.suo
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj.filters
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.opendb
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db-shm
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/.suo
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/.suo
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db-shm
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.opendb
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/ipch/AutoPCH/3bd52b217a2a1078/SENSORS_AND_SERVOS.ipch
firmware_for_teensy_USEME/__vm/Compile.vmps.xml
firmware_for_teensy_USEME/__vm/Upload.vmps.xml
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj.filters
firmware_for_teensy_USEME/helper_func_folder/a.out
firmware_for_teensy_USEME/Release/board.buildinfo
firmware_for_teensy_USEME/Release/firmware_for_teensy.eep
firmware_for_teensy_USEME/Release/firmware_for_teensy.ino.eep
firmware_for_teensy_USEME/Release/firmware_for_teensy.ino.lst
firmware_for_teensy_USEME/Release/firmware_for_teensy.lst
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/.suo
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db-shm
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.opendb
firmware_for_teensy_USEME/__vm/Compile.vmps.xml
firmware_for_teensy_USEME/__vm/Upload.vmps.xml
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj.filters
firmware_for_teensy_USEME/helper_func_folder/a.out
*.vcxproj
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/.suo
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.db-shm
firmware_for_teensy_USEME/.vs/firmware_for_teensy/v16/Browse.VC.opendb
firmware_for_teensy_USEME/__vm/Compile.vmps.xml
firmware_for_teensy_USEME/__vm/Upload.vmps.xml
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj
firmware_for_teensy_USEME/firmware_for_teensy.vcxproj.filters
firmware_for_teensy_USEME/helper_func_folder/a.out
*.out
*.opendb
*.db-shm
*.db
*.glade~
water_flow_oct_1.zip
Client_GUI/#gui.glade#
Logs/*
Old_Logs_1/*
Logs/cmd_log_0.csv
Logs/cmd_log_1.csv
Logs/sensor_log_0.csv
Logs/sensor_log_1.csv
Logs/sensor_log_2.csv
Logs/sensor_log_3.csv
Logs/sensor_log_4.csv
Logs/sensor_log_5.csv
Logs/sensor_log_6.csv
Logs/sensor_log_7.csv
Logs/sensor_log_8.csv

Logs/sensor_log_9.csv
old_logs_2023_01_17/*
Logs/cmd_log_0.csv
Logs/cmd_log_1.csv
Logs/sensor_log_0.csv
Logs/sensor_log_1.csv
Logs/sensor_log_2.csv
Logs/sensor_log_3.csv
Logs/sensor_log_4.csv
Logs/sensor_log_5.csv
Logs/sensor_log_6.csv
Logs/sensor_log_7.csv
Logs/sensor_log_8.csv
Logs/sensor_log_9.csv
