<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Dashboard</title>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='Chart.js') }}"></script>
</head>


<body>
    <table border="1">
        <thead>
            <tr>
                <th>Actuator Name</th>
                <th>OFF</th>
                <th>ON</th>
            </tr>
        </thead>
        <tbody id="actuatorTableBody">
            <!-- Sensor data rows will be dynamically added here -->
        </tbody>
    </table>

    <script>
        // pretty sure this can just be io.connect() but im not sure
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Assuming each element in the 'data' array is an array with [sensorInfo, sensorValue]
        var actuator_buttons = {{ actuator_buttons|tojson|safe }};


        console.log('actuator_buttons: ', actuator_buttons);

        actuator_buttons.forEach(function (actuator) {
            var actuatorInfo = actuator

            // create a new row for the actuator in the table
            var rowId = 'row_' + actuatorInfo['P and ID'];


            // Create new row
            var newRow = document.createElement('tr');
            newRow.id = rowId;

            var actuatorNameCell = document.createElement('td');
            actuatorNameCell.innerText = actuatorInfo['P and ID'];
            newRow.appendChild(actuatorNameCell);



            // Create OFF button
            var offButtonCell = document.createElement('td');
            var offButton = document.createElement('button');
            offButton.innerText = 'OFF';
            offButton.addEventListener('click', function() {
                handleOnOff(actuatorInfo, 'off');
            });
            offButtonCell.appendChild(offButton);
            newRow.appendChild(offButtonCell);

            // Create ON button
            var onButtonCell = document.createElement('td');
            var onButton = document.createElement('button');
            onButton.innerText = 'ON';
            onButton.addEventListener('click', function() {
                handleOnOff(actuatorInfo, 'on');
            });
            onButtonCell.appendChild(onButton);
            newRow.appendChild(onButtonCell);

            // Add the new row to the table body
            document.getElementById('actuatorTableBody').appendChild(newRow);
        });

        // Function to handle tare and untare button clicks
        function handleOnOff(actuatorName, action) {
            // Emit to server
            current_time = Date.now()
            console.log("current time: ", current_time)
            socket.emit('received_actuator_button_press', actuatorName, action, current_time);
        }
        
    </script>

</body>
</html>
