<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
</head>

<body>
    <p id="ping" style="float: right; margin: 0"></p>
    <h1>Sensor Data</h1>
    <table border="2">
        <thead>
            <tr>
                <th>Sensor Name</th>
                <th>Data</th>
                <th>Units</th>
                <th>Tare</th>
                <th>Untare</th>
                <th>Last Send Command</th>
            </tr>
        </thead>
        <tbody>
            {% for sensor in sensor_list %}
                <tr>
                    <td>{{ sensor['P and ID'] }}</td>
                    <td id="{{ sensor['P and ID'] }}_data" style="min-width: 200px; max-width: 200px; overflow-wrap: break-word;">No Data</td>
                    <td>{{ sensor['unit'] }}</td>
                    <td><button id="{{ sensor['P and ID'] }}" onclick="buttonClicked(id, 'tare')" >Tare</button></td>
                    <td><button id="{{ sensor['P and ID'] }}" onclick="buttonClicked(id, 'untare')" >Untare</button></td>
                    <td id="{{ sensor['P and ID'] }}_state" >{{ actuator_states_and_sensor_tare_states[sensor['P and ID']] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('sensor_data', function (data) {
            // right now sending data as a list, index0 = data, index1 = timestamp of data and time of transmission
            const listOfSensorIDValueTuples = data[0]
            const timeAtTransmission = data[1]

            listOfSensorIDValueTuples.forEach(function (sensorTuple) {
                const sensorID = sensorTuple[0];
                const sensorValue = sensorTuple[1];
                const dataCell = document.getElementById(sensorID + '_data');

                dataCell.textContent = sensorValue;
            });
        });

        function buttonClicked(id, state) {
            const current_time = Date.now();
            socket.emit('received_actuator_button_press', id, state, current_time);
        }


        socket.on('responding_with_button_data', function (data) {
            buttonID = data[0]
            buttonState = data[1]

            const a = document.getElementById("" + buttonID + "_state");

            if (buttonState === 'untare'){
                a.textContent = buttonState;

            } else if (buttonState === 'tare'){
                a.textContent = buttonState;

            } else {
                console.log("error!!!");
            }


        });
    

        let pingTimeout;

        socket.on('ping', function (time) {
            // Update ping display
            document.getElementById("ping").textContent = `Ping: ${(Date.now() - time).toFixed(0)} milliseconds`;

            // Clear the timeout when the pong response is received
            clearTimeout(pingTimeout);

            // Set a new timeout for the next expected ping
            pingTimeout = setTimeout(function() {
                const a = document.getElementById("ping");
                a.textContent = "Server not responding";
                location.reload();
            }, 1000 + 5); // If we get ping 5 milliseconds late attempt reload
        });


    </script>

</body>

</html>