<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter Test</title>
</head>
<body>
    <div id="counter-container"></div>

    <script>


        const sensorDataList = [];
        
        count = 0;

        function fetchData() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/sensor_data', true);

        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
            // Append the response to the list
            //sensorDataList.push(xhr.responseText);
            count = count + 1;
            } else {
            console.error('Error fetching sensor data:', xhr.statusText);
            }
        };

        xhr.onerror = function () {
            console.error('Network error while fetching sensor data.');
        };

        xhr.send();
        }

        // Fetch sensor data every 1 second for 10 seconds
        const fetchInterval = setInterval(fetchData, 5);

        // Stop fetching after 10 seconds
        setTimeout(() => {
        clearInterval(fetchInterval);

        // Return the length of the list
        const lengthOfList = sensorDataList.length;
        console.log('Sensor data list:', sensorDataList);
        console.log('Length of the list:', lengthOfList);
        console.log('count: ', count);
        }, 10000);



    </script>
</body>
</html>
