
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='makeChart.js') }}"></script>
    <script> var sensorList = []; </script>
</head>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #21262d;
        color: #ecf2f8;
        height: 100%;
        column-gap: 10px;
        margin: 0;
        font-size: 14px;
    }
    #listContainer {
        width: 100%;
        margin-right: 2%;
    }
    #chartContainer {
        width: 100%;
    }
    #addChart {
        margin-bottom: 1%;
    }
    canvas {
        border: 1px solid;
        height: 100%;
        margin-top: 10px;
    }
    #titleBar{
        display: grid;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: #161b22;
        padding-left: 20px;
    }
    table {
        width: 100%
    }
</style>

<body>
    <div id = "titleBar">
        <b>Sensors</b>
    </div>

    <div id = "listContainer">
        <table border="2" id="sensorsTable">
            <thead>
                <tr>
                    <th>Sensor Name</th>
                    <th>Data</th>
                    <th>Units</th>
                    <th>Tare</th>
                    <th>Untare</th>
                    <th>Last Sent <br> Command</th>
                </tr>
            </thead>
            <tbody>
                {% for sensor in sensor_list %}
                    <tr>
                        <td>{{ sensor['P and ID'] }}</td>
                        <td id="{{ sensor['P and ID'] }}_data" style="min-width: 100px; max-width: 100px; overflow-wrap: break-word;">No Data</td>
                        <td>{{ sensor['unit'] }}</td>
                        <td><button id="{{ sensor['P and ID'] }}" onclick="tare(id, true)" >Tare</button></td>
                        <td><button id="{{ sensor['P and ID'] }}" onclick="tare(id, false)"  >Untare</button></td>
                        <script> sensorList.push("{{ sensor['P and ID'] }}") </script>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="chartContainer">
        <button id="addChart" onClick = "addChart()">Add Chart</button>
    </div>

    <script>

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('sensor_data', function (sensorDataDict) {
            console.log(sensorDataDict);

            for(const [sensorID, sensorValue] of Object.entries(sensorDataDict)){
                document.getElementById(sensorID + '_data').textContent = sensorValue.toFixed(3);
            }
            // second param is number of data points to store for graphing
            updateData(sensorDataDict, 20*15);

            // plot updated data for each chart
            const canvasList = document.getElementsByTagName('canvas');
            for (canvas of canvasList){
                plotLines(canvas.id);
            }
        });

        function tare(sensorID, state) {
            socket.emit('tare', sensorID, state);
        }


        socket.on('responding_with_button_data', function (data) {
            buttonID = data[0]
            buttonState = data[1]

            const a = document.getElementById("" + buttonID + "_state");

            if (buttonState === 'untare'){
                a.textContent = buttonState;

            } else if (buttonState === 'tare'){
                a.textContent = buttonState;

            } else {
                console.log("error!!!");
            }


        });

        socket.on('sensor_and_actuator_config_uploaded', function() {
            location.reload();
        });

        var chartCounter = 1;


        function addChart(){
            const chartNumber = chartCounter;
            chartCounter ++;

            // create new canvas in chartContainer
            var canvas = document.createElement("canvas");
            canvas.id = "chart" + chartNumber;
            canvas.width = 600;
            canvas.height = 300;
            canvas.style.display = "block";
            document.getElementById("chartContainer").appendChild(canvas);


            var removeButton = document.createElement("button");
            removeButton.id = "removeButton" + chartNumber;
            removeButton.textContent = "Remove Chart";
            removeButton.addEventListener('click', function() {
                removeChart(chartNumber);
            });
            document.getElementById("chartContainer").appendChild(removeButton);

            createEmptyChart(canvas.id, sensorList);
        }

        function removeChart(chartNumber){
            canvasID = "chart" + chartNumber;
            const canvas = document.getElementById(canvasID);
            document.getElementById("chartContainer").removeChild(canvas);

            const removeButton = document.getElementById("removeButton" + chartNumber);
            document.getElementById("chartContainer").removeChild(removeButton);

            removeCheckboxes(canvasID, sensorList);
        }


        let pingTimeout;

        socket.on('ping', function (time) {
            // Update ping display
            document.getElementById("ping").textContent = `Ping: ${(Date.now() - time).toFixed(0)} milliseconds`;

            // Clear the timeout when the pong response is received
            clearTimeout(pingTimeout);

            // Set a new timeout for the next expected ping
            pingTimeout = setTimeout(function() {
                const a = document.getElementById("ping");
                a.textContent = "Server not responding";
                location.reload();
            }, 2000 + 1000); // If we get ping 1 second late attempt reload
        });

        socket.on('disconnect', function (reason) {
            console.log("Disconnected from server, reason: " + reason);
            close();
        });

    </script>

</body>

</html>
